#nav-bar a {
  font-family: "Yuyu Short", sans-serif;
  font-style: normal;
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
}
#nav-bar a.active{
  color: goldenrod;
}

#nav-bar{
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border: 1px solid hsl(0, 0%, 22%);
  display:flex;
  justify-content:center;
  align-self: center;
  gap: 35px;
  padding: 10px 35px;
  background-color: hsl(240, 2%, 17%);

}

@media (max-width:780px) {
  #nav-bar{
    padding:10px;
    border: none;
    gap: 20px;
    justify-content: space-between;
    
  }
  
}
